<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
 <link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">

 <link rel="stylesheet" type="text/css" href="{$basePath}/js/jquery-ui/jquery-ui.min.css">
 <script src="{$basePath}/js/jquery/jquery-3.1.1.min.js"></script>
 <script src="{$basePath}/js/jquery-ui/jquery-ui.min.js"></script>
	<title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
</head>
<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<nav class="menu" id="nav">
		<div class="logo">
      <h1>Example</h1>

		</div>
		<ul n:inner-foreach="$menuItems as $item=>$link" style="color:white">
					 <li {ifCurrent $link}class="active"{/ifCurrent}><a n:href="$link">{$item}</a></li>
		</ul>
 </nav>
	<header>
	</header>
	 <main id="main">
		   {include content}
			 <section class="two">
			   <article class="center">
			     <aside class="contact">
			       <h2 >Contact form</h2>
			      {control contactForm}
			     </aside>
			     <aside class="contact">
			      <h2>Contact information</h2>
			      <p>Name LastName:<p/>
			      <p>+420 735 789 632</p>
			      <p>example@test.com</p><br />
			      <p>Somecompany s.r.o</p>
			      <p>Street 20,4444 Exapmle</p>
			      <p>Ič:2225555555</p>
			     </aside>
			   </article>
			 </section>
	</main>
  <footer>
  <p> <span></span> Created by Carol</p>
	</footer>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
</body>
</html>
