{* This is the welcome page, you can delete it *}
{block content}

 <section class="one">

  <article class="center2 c" style="background:white;">
   <div class="about"   id="slide">
   <div id="about"  class="sa active">
       <h1 style="line-height:20px;color:Navy;">About</h1><hr/>
       <p>Lorem ipsum dolor sit amet consectetuer nisl Fusce metus facilisis Nam. Cursus congue laoreet pellentesque nulla velit tincidunt Cras dis mauris tincidunt. Vestibulum semper porta.</p>
       <p>Quis ipsum dolor Sed consectetuer morbi laoreet dictum Curabitur tincidunt elit. At et ipsum justo molestie sagittis malesuada in sed metus In. Rhoncus laoreet Nullam Aliquam felis In Aenean.</p>
       <p>Sed ut non feugiat laoreet leo sed dictumst commodo diam Curabitur. Ligula semper ipsum Morbi morbi fermentum nec interdum fringilla Quisque Vestibulum. Pellentesque.</p>
       <p>Quis ipsum dolor Sed consectetuer morbi laoreet dictum Curabitur tincidunt elit. At et ipsum justo molestie sagittis malesuada in sed metus In. Rhoncus laoreet Nullam Aliquam felis In Aenean.</p>
       <p>Sed ut non feugiat laoreet leo sed dictumst commodo diam Curabitur. Ligula semper ipsum Morbi morbi fermentum nec interdum fringilla Quisque Vestibulum. Pellentesque.</p>
       <p>Quis ipsum dolor Sed consectetuer morbi laoreet dictum Curabitur tincidunt elit. At et ipsum justo molestie sagittis malesuada in sed metus In. Rhoncus laoreet Nullam Aliquam felis In Aenean.</p>
       <p>Sed ut non feugiat laoreet leo sed dictumst commodo diam Curabitur. Ligula semper ipsum Morbi morbi fermentum nec interdum fringilla Quisque Vestibulum. Pellentesque.</p>

       <hr/>
   </div>

 </div>
  </article>

</section>
