{block content}
<section class="one">

 <article class="center2 c" style="background:white;">
  <div class="about"   id="slide">
  <div id="about"  class="sa active">
      <aside class="formSection">
        <h1>Registration form</h1>
      {control registrationForm}

    </aside>
      <hr/>
  </div>

</div>
 </article>

</section>
