
@import 'content';
$colorFont:white;
$colorFont2:grey;
$colorFont3:blue;
$fontSize:25px;
$myPadding:0px;
$myHeight:110px;
$myMargin:0px;
@mixin border($width,$type,$color){
border-right:$width $type $color;
border-left:$width $type $color;
}
@mixin image($url,$size,$position,$repeat){
  background:url($url) ;
  background-repeat:$repeat;
  background-size:$size;
  background-position:$position;
}
@mixin font{
  font:{
    size:$fontSize;
    style:italic;
    weight:300;
  }
  text-align:center;
  text-decoration:none;
}
@mixin position($position,$z-index){
  position:$position;
  z-index:$z-index;
}
@mixin display($type,$align){
  display:$type;
  align-items:$align;
}
@mixin animation($proper,$time,$type){
  -webkit-transition: $proper $time $type;
-moz-transition: $proper $time $type;
-o-transition: $proper $time $type;
-ms-transition: $proper $time $type;
}
@mixin a{

    a:link,a:visited{
    display: block;
    padding-right:10px;
    text-decoration: none;
    color:$colorFont;
    }
    a:hover:not(.active) {
    font-size:30px;
    @include animation(all,0.3s,ease);
    }

}
body{
margin:$myMargin;
padding: $myPadding;
  box-sizing: border-box;
}
$types:nav header main footer;
@each $type in $types{
  #{nth($type, 1)}{
    width:100%;
    display:block;
    @if $type!=nav and $type!=footer{
      min-height:450px;
      height:auto;
    }
    @if $type==nav{

      @include image('../img/footer.png',contain,center,repeat);
      @include position(relative,81);
      @include display(flex,center);
      opacity: 0.9;
      min-height:70px;
      height:$myHeight;
      color:$colorFont;

    }@else if  $type==header{
      @include image('../img/background.jpeg',cover,center,no-repeat);
      @include position(relative,40);

    }@else if $type==footer{
      @include image('../img/footer.png',contain,center,repeat);
      @include display(flex,center);
      height:$myHeight;
      min-height:70px;
      opacity: 0.9;
    p{
      margin:0 auto;
    }
    span{
    &:after {
    content: '\00A9';
}
    }
      color:white;
    }
  }
}
@keyframes an{
0%{color:$colorFont;opacity:1;}
100%{color:rgb(157, 200, 230);opacity:0.6;}
100%{color:$colorFont;opacity:1;}
0%{color:rgb(157, 200, 230);opacity:0.6;}

}
nav{
  ul{
    list-style-type: none;
    float: right;
    overflow: hidden;
    width: 80%;
    height:auto;
    margin:0 auto;
    @include display(flex,center);
    justify-content:flex-end;
  }
  li{
    border-right: 2px solid $colorFont;
    display:inline;
    padding:$myPadding 7px;
    height:35px;
    @include font;
    @include a;
    &:last-child{
    border:none;
     }

  }
  .active {
     font-size:30px;
  }  .logo{
          width:20%;
          padding-left:8%;
          cursor:pointer;
          /*background:url('../img/ja.png');
          background-position:80px ;
          background-size:contain;*/
          position:relative;
          z-index:96;
          animation-name: an;
    animation-duration: 15s;
     animation-delay: 2s;
     animation-iteration-count: infinite;
          //background-repeat:no-repeat;
          h1{
            line-height:0px;
            text-align:center;
            float:left;
            font-size:40px;
            font-style:italic;
            text-decoration:underline;
          }
        }
}
