body{
  margin:0;
padding: 0;
}
#main{
  width: 100%;
  background:white;
}

header{
  height: 460px;
  background: url('../img/background.jpeg');
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 40;
  border-top: 6px ridge LightSkyBlue;
  border-bottom: 6px ridge LightSkyBlue;
}
nav{
  height:111px;
  background: url('../img/footer.png') repeat;
  background-size: contain;
  opacity: 0.9;
  position: relative;
  z-index: 81;


}
.logo{
  width: 150px;
  height: 80px;
}
.l {
  width: 100%;
  height: 100%;
 color: white;
}
nav ul{
  list-style-type: none;
  float: right;
  overflow: hidden;
  width: 350px;
  height: 100px;
padding-top: 15px;

}
nav li{
  float: left;

  border-right: 2px solid white;
  font-size: 25px;
  font-style: italic;
}
li:last-child{
  border: none;
}
nav li a{
  display: block;
  color: white;
  font-weight: 300;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  color:blue;
}

.active {
  color: black;
}
.center{
  padding: 5px;
  font-style: italic;
  width: 1000px;
  margin: 0 auto;
/*background-color: white;*/
  height: 500px;
}
.center2{
  padding: 5px;
  font-style: italic;
  width: calc(95% - 73px - 73px - 1px);
  margin: 0 auto;
/*background-color: white;*/
  height: 500px;
}
#slide{
  width: calc(100% - 300px);
padding-left: 150px;
padding-right: 150px;
display: flex;
flex-direction: column;
margin: 0 auto;
}
#about2{
  display: none;
  background-color: blue;
}
#about3{
  display: none;
  background-color: blue;
}
.sa{
width: 100%;
height: 500px;
}
footer{
  height: 100px;
  height: #333;
  border: 1px solid black;
  width: 100%;
  border-top: 6px ridge LightSkyBlue;
  /*background-color: MidnightBlue;*/
  background: url('../img/footer.png') repeat;
  background-size: contain;
  opacity: 0.9;
}
.leftmenu{
  width: 150px;
  height:200px;
  background-color: white;
}
.s{
  font-size: 15px;
  color: Aquamarine;
}
.s:after{
  content: '\00A9';
  font-size: 15px;
  color: Aquamarine;
}
.l input{
width: 395px;
  height: 35px;
background:white ;
  opacity: 0.6;
  color: grey;
  padding-left: 5px;
  font-weight: bold;

  border-radius: 5px;
}
.l2 input{
width: 196px;
  height: 35px;
background:white ;
  opacity: 0.6;
  color:  grey;
  font-weight: bold;

  border-radius: 5px;
}
.one h1{
  font-size: 25px;
  text-align: center;
}
textarea{
  width: 400px;
  height: 120px;
  background:white ;
  opacity: 0.6;
  color:grey;
  font-size: 16px;
  border-radius: 5px;
}

.arr{
  margin: 0 auto;
  width: 60px;
  height: 90px;
  float: right;
}
textarea { resize:vertical ; max-height:280px; }
.one{

}
.c{
  border-left: 6px ridge LightSkyBlue;
  border-right: 6px ridge LightSkyBlue;
  font-weight: bold;
}
.two{
  border-top: 6px ridge LightSkyBlue;
  background:MidnightBlue;
  opacity: 0.9;
}
.contact{
  width: 500px;
float: left;
}
.about{
  width: 100%;


height: 430px;
}
.center h2{
  text-align: center;
}
.contact h2{
  color: white;
}
input[type=submit]{
  color: white;
  border-radius: 7px;
  font-style: italic;
  font-weight: bold;
  opacity: 1;
  height:40px;
  width: 410px;
  cursor: pointer;
  background-color:MidnightBlue;

}
.logo{
  position: relative;
  z-index: 90;
width: 150px;
float: left;
margin-left: 60px;
}
form{
  margin-left: 20px;
}
.l2{
width: 200px;

}
.l{
  width: 412px;
}
 tr{
  width: 200px;
  float: left;
  margin-left: 5px;
}
.img{
  margin: 0 auto;
  width: 100px;
  height: 30px;
}
.contact p{text-align: center;
  color: white;
  font-size: 18px;
  line-height: 15px;
}
footer span:after {
    content: '\00A9';
}
footer p{
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.formSection {

  width:610px;
}
