body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

nav {
  width: 100%;
  display: block;
  background: url("../img/footer.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 81;
  display: flex;
  align-items: center;
  opacity: 0.9;
  min-height: 70px;
  height: 110px;
  color: white; }

header {
  width: 100%;
  display: block;
  min-height: 450px;
  height: auto;
  background: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 40; }

main {
  width: 100%;
  display: block;
  min-height: 450px;
  height: auto; }

footer {
  width: 100%;
  display: block;
  background: url("../img/footer.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  height: 110px;
  min-height: 70px;
  opacity: 0.9;
  color: white; }
  footer p {
    margin: 0 auto; }
  footer span:after {
    content: '\00A9'; }

@keyframes an {
  0% {
    color: white;
    opacity: 1; }
  100% {
    color: #9dc8e6;
    opacity: 0.6; }
  100% {
    color: white;
    opacity: 1; }
  0% {
    color: #9dc8e6;
    opacity: 0.6; } }

nav ul {
  list-style-type: none;
  float: right;
  overflow: hidden;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

nav li {
  border-right: 2px solid white;
  display: inline;
  padding: 0px 7px;
  height: 35px;
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  text-decoration: none; }
  nav li a:link, nav li a:visited {
    display: block;
    padding-right: 10px;
    text-decoration: none;
    color: white; }
  nav li a:hover:not(.active) {
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease; }
  nav li:last-child {
    border: none; }

nav .active {
  font-size: 30px; }

nav .logo {
  width: 20%;
  padding-left: 8%;
  cursor: pointer;
  /*background:url('../img/ja.png');
          background-position:80px ;
          background-size:contain;*/
  position: relative;
  z-index: 96;
  animation-name: an;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-iteration-count: infinite; }
  nav .logo h1 {
    line-height: 0px;
    text-align: center;
    float: left;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline; }
